.solver {
    margin-left: 10px;

    button {
        display: block;
        margin-bottom: 5px;
    }

}

.validators {
    border-top: black solid 2px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}