.square {
    height: 45px;
    width: 45px;
    background-color: whitesmoke;
    user-select: none;
}

.selected {
    background-color: yellow;
}

.clueIndex {
    padding-left: 2px;
    font-size: 12px;
    color: gray;
    margin: 0;
}