.view {
    border: black solid 2px;
    padding: 4px;
    margin-top: 10px;
    position: relative;

    white-space: pre-wrap;
}

.view.selected {
    background-color: red;
}

.view .delete {
    display: none;
    position: absolute;
    right: 5px;
    top: 2px;
}

.view:hover .delete {
    display: inline-block
}